<!DOCTYPE html>
<html ng-app="login" ng-controller="AuthorizationController as authCtrl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RESTaurant login</title>
		
		<script src="/webjars/angularjs/1.4.9/angular.js"></script>
		<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
		<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
		<script src="js/login.js" type="text/javascript"></script>
		
		<link rel="stylesheet" href="css/login.css"></link>
		<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">
	</head>
	<body>
		<div class="row">
	  		<div class="col-sm-5"></div>
	  		<div class="col-sm-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<form name="loginForm" ng-controller="LoginController as loginCtrl" ng-submit='loginForm.$valid && loginCtrl.login()' class="form-signin" novalidate >
							<h3>Please sing in.</h3>
							<fieldset class="form-group">
								<input ng-model="loginCtrl.user.email"  type="email" class="form-control" placeholder="Email:" required></input>
							</fieldset>
							<fieldset class="form-group">
								<input ng-model="loginCtrl.user.password" type="password" class="form-control" placeholder="Password:" required></input>
							</fieldset>
							<fieldset class="form-group">
                				<input  type="submit" class="btn btn-lg btn-primary btn-block pull-right" value="Login" />
              				</fieldset>
							<hr></hr>
							<a href="register.html" class="btn btn-lg btn-primary btn-block" role="button">Register</a>
							<br/>
							<fieldset><div></div>{{loginCtrl.result}}</fieldset>
						</form>
					</div>
				</div>
	  		</div>
	  		<div class="col-sm-5"></div>
	  	</div>
	</body>
</html>